.event-creation-container {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  width: min(90%, 650px);
  margin: 0 auto;
  margin-top: -30px;
  height: auto;
}

.create-event-btn-container {
  display: flex;
  justify-content: center;
}

.event-creation-container button {
  border-radius: 7px;
  width: 200px;
  height: 40px;
  background-color: #756DA2;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.event-creation-container h1 {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 4px solid black;
  width: 70%;
  margin-top: -20px;
}

.header-container img {
  height: 100px;
  margin-top: 15px;
}

form {
  width: 100%;
  height: 100%;
}

input {
  padding: 10px;
}

label {
  margin-top: 10px;
}

input {
  border-radius: 5px;
}

input:focus {
  border: 3px solid black;
}

#EventDetails {
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
}

span {
  color: red;
}

.event-input {
  display: flex;
  flex-direction: column;
}

.date-time-length {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

#EventLocation {
  width: calc(100% - 20px)
}

.location-suggestions {
  border: 1px solid lightgray;
}

#EventTitle, #EventDate, #EventTime, #EventLength, #EventDetails, #EventLocation, #EventEmail {
  border: #869296 2px solid;
}

#EventEmail {
  margin-top: -20px;
  width:calc(100% - 20px)
}

.event-name-container label{
  font-size: 1.2rem;
  padding-bottom: 2px;
}

.date-input-container label {
  font-size: 1.1rem;
  padding-bottom: 2px;
}

.time-input-container label {
  font-size: 1.1rem;
  padding-bottom: 2px;
}

.length-input-container label {
  font-size: 1.1rem;
  padding-bottom: 2px;
}

.location-input-container label {
  font-size: 1.1rem;
  padding-bottom: 2px;
}

.details-input-container label {
  font-size: 1.1rem;
  padding-bottom: 2px;
}

.orangizer-email-container label {
    font-size: 1.1rem;
    padding-bottom: 2px;
}


.time-input-container {
  width: 30%;
}

.date-input-container {
  width: 30%;
}

.length-input-container {
  width: 30%;
}


.orangizer-email-container p {
  margin-top: 1px;
  color: #A9A9A9;
}

.header-input-container input {
  cursor: pointer;
}

.upload-image-flex-container {
  display: flex;
}

.upload-input {
  color: white;
}

.location-input {
  width: 500px;
}

#form-validation-label {
  color: red;
  font-size: 1rem;
}

@media (max-width: 1435px) {
  #EventDate, #EventTime, #EventLength {
    display: block;
    flex-wrap: nowrap;
    width: auto;
  }
}

input[type=date] {
  background-color: white;
  -webkit-appearance: none;
}

input[type=time] {
  background-color: white;
  -webkit-appearance: none;
  height: 20px;
}

input {
  -webkit-appearance: none;
  height: 20px;
}

@media(max-width:695px) {
  .orangizer-email-container {
    margin-top: 10px;
  }
}

@media(max-width:590px) {
    .event-creation-container h1 {
      font-size: 1.3rem;
      padding: 10px;
    }
}

@media(max-width: 580px) {
  .upload-image-flex-container {
    flex-direction: column;
  }
}

