.attendees-container {
    text-align: center;
}

.rsvp-display-container h3 {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
}

.attendees-container li {
    font-size: 1.5rem;
    padding: 4px;
    text-align: left;
}

.rsvp-display-container {
    min-width: 200px;
    width: auto;
    margin: 0 auto;
}

.rsvp-display-container ol {
    border: 1px solid #B8B8B8;
    border-radius: 10px;
    width: auto;
    display: inline-block;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 100px;
}