.home-page-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.home_jpg {
  width: 100%;
}

.home-page-container img {
  width: 100%;
}

.home-box {
  display: flex;
  flex-direction: column;
}

.home-box-container {
  margin: 0 auto;
  width: 50%;
  margin-top: 10%;
}

.home-text-container p {
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin-left: 24.5%;
}

.home-page-button {
  background-color: #756DA2;
  color: white;
  cursor: pointer;
}

.home-button-container {
  display: flex;
  justify-content: center;
}

.home-button-container button {
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media(max-width: 1200px) {
  .home-page-container {
    flex-direction: column;
    margin-left: 20%;
    margin-top: -30px;
  }
  .home-image-container {
    width: 50% !important;
  }
  .home-box-container {
    margin-top: 60px;
  }
  .home-text-container {
    margin-top: -80px;
    margin-left: -90%;
  }
  .home-text-container p {
    font-size: 1.25rem;
  }
  .home-button-container {
    width: 50%;
    margin-left: -20%;
  }
  .home-page-container {
    width: 100% !important;
    margin-left: 25% !important;
  }
}

@media(max-width:1020px) {
  .home-image-container {
    width: 55% !important;
    margin-left: -1.5%;
  }
}

@media(max-width:900px) {
  .home-image-container {
    width: 60% !important;
    margin-left: -5%;
  }
}

@media(max-width: 750px) {
  .home-image-container {
    width: 70% !important;
    margin-left: -10%;
  }
}

@media(max-width: 700px) {
  .home-page-container {
    margin-top: -10px;
  }
  .home-button-container button {
    font-size: 0.9rem;
  }
}