.home-page-container {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.home_jpg {
  width: 100%;
}

.home-page-container img {
  width: 100%;
}

.home-box {
  display: flex;
  flex-direction: column;
}

.home-box-container {
  margin: 0 auto;
  width: 50%;
  margin-top: 10%;
}

.home-text-container p {
  font-size: 2rem;
  text-align: center;
  width: 50%;
  margin-left: 24.5%;
}

.home-page-button {
  background-color: #756DA2;
  color: white;
  cursor: pointer;
}

.home-button-container {
  display: flex;
  justify-content: center;
}

.home-button-container button {
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

@media(max-width: 1200px) {
  .home-page-container {
    flex-direction: column;
    margin-left: 20%;
  }
  .home-image-container {
    width: 85% !important;
  }
  .home-box-container {
    display: flex;
  }
  .home-text-container {
    margin-top: -70px;
    width: 50%;
  }
  .home-button-container {
    width: 50%;
  }
  .home-page-container {
    width: 100% !important;
    margin-left: 20px !important;
  }
}